@import "tailwindcss";
*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
background-color:black;
color: wheat;
font-family: helvetica neue;
}

.navbar{
    background-color: rgb(124, 38, 38);
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 50px;
}
.section{
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
.footer{
    background-color: #311414;
}
button{
    padding: 3px 7px;
    background-color: #ff0606;
    border-radius: 2rem;
    width: fit-content;
    align-self:center;
}
