*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
padding: 5rem;
}
div{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25rem;
    height: 25rem;
    background-color: rgb(154, 152, 154);
    border-radius: 30px;
}
div img{
    border-radius:2rem ;
    height: 15rem;
    width: fit-content;
    object-fit:cover ;
}